<!DOCTYPE html>
<html>
<head>
	<title>Survey</title>
</head>
<body>
	<div class='line'>
		<form action='/process' method='POST'>
			{% csrf_token %}
			<label>Your Name: 
				<input type="text" name="your_name">
			</label>
			<label>Dojo Location: 
				<select name="location">
					<option value='Dallas'>Dallas</option>
					<option value='mountain_view'>Mountain View</option>
				</select>
			</label>
			<label>Favorite Language: 
				<select name='language'>
					<option name='JS' value='JS'>JS</option>
					<option name='Python' value='python'>Python</option>
					<option name='HTML' value='html'>HTML</option>
				</select>
			</label>
			<label>Comments (optional):</label>
			<input type="textarea" name="comment">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>